@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
    padding-left: 0;
    padding-right: 0;
}

/*Nav bar styling */
nav {
    z-index: 10000;
}


.nav-link{
    color: white;
    font-size: 1em;
}

.nav-link:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 8'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-3px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;

}

.nav-btn {
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
    background: #fff;
    padding: 8px 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
    color: #634D40;
    text-align: center;
}

.nav-btn:hover{
    letter-spacing: 5px;
    color: #634D40;
    text-decoration: none;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 21;
    font-size: 3em;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
    color: #F1F0EA;
    transition: all 0.5ms ease-in-out;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 8'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-3px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
}

.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
}
/******Hero styling ******/
   
#hero {
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #c2ae9e;
    
}
/*Hero dark overlay*/
#hero::after {
    width:100%;
    height:100vh;
    max-width: 100%;
    content: '';
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
}

#hero video {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    object-fit:cover;
}

#hero .caption {
    position:relative;
    z-index:20;
    text-align:center;
    color:#ffffff;
    bottom: 100px;
    text-align: center;
}

#hero h1 {
    font-size: 86px;
    line-height: 120px !important;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#hero h2
{
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
}

#hero p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    line-height: 35px;
}

/* Caption Button*/

.caption a {
    display: block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
    text-align: center;
}

.caption a:hover
{
  letter-spacing: 6px;
  color: #634D40;
  text-decoration: none;
 
}

/* This adds an arrow on hover to the 'tell your story' button*/
.caption a:after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 235px;
    left: 350px;
    width: 18px;
    height: 16px;
    background: url(../Images/arrow-short--white.svg) center no-repeat;
    background-size: contain;
    transition: all ease .2s;
}

.caption a:hover:after {
    
    opacity: 1;
    left: 410px;
}

/***** Intro Section ****/
.intro {
    background-color: #F1F0EA;
}

.intro-container {
    padding-top: 150px;
    padding-bottom: 100px;
}

.intro h1 {
    margin: 0;
    font-size: 64px;
    line-height: 95px;
    margin-bottom: 20px;
}

.intro h3 {
    line-height: 33px;
    font-size: 22px;
    color:#634D40;
}

.intro a {
    display: block;
    font-size: 1em;
    background: #c2ae9e;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
    text-align: center;
    width: 200px;
}

.intro a:hover {
    text-decoration: none;
    color: #111;
    letter-spacing: 6px;
    width: 250px;
}

.intro p {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0;
}

/**** Footer ****/
footer {
    background-color: #d4d1cc;
    color: #F1F0EA;
    padding: 30px;
}
/***** Responsive support ****/
@media only screen and (max-width: 1000px) {

    .logo {
        font-size: 30px;
    }
    #hero h1 {
        font-size: 60px;
    }
    .nav-btn {
        background: none;
        text-align: left;
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 1em;
        letter-spacing: 0;
    }

    .caption a {
        margin: 10px 15px 0px 15px;
    }

    .caption a:hover{
        letter-spacing: 3px;
        color: #634D40;
        text-decoration: none;
    }

    .caption a:after {
        opacity: 0;
    }

    .intro-container {
        padding: 10px;
    }

    .intro h1 {
        font-size: 50px;
        line-height: 70px;
    }
}
