body {
    background-color: #d4d1cc!important;
}

nav a{
    color: #000 !important;
}

#allposts {
    padding-top: 30px;
}

.pageTitle {
    font-weight: 700;
    line-height: 150px;
    font-size: 90px;
    color: #6e6057;
    text-align: center;
    

}

.pageTitle:hover {

    cursor: pointer;
}

.post-container {
    padding: 20px;
    color: #6e6057;
    background-color: #d4d1cc;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
}

p {
    display: block !important;
}

.fa-solid {
    font-size: 30px;
    border: none;
    padding: 10px;
}

img {
    max-width:60%;
    border-radius: 15px;
}

button {
    background: none;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid brown;
}
